{% extends 'back_office/base.html.twig' %}

{% block title %}Region{% endblock %}

{% block content %}
<style>
        .img{
            width: 60px;
            height: 60px;
            background-size: cover;
            display: block;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
        }
    </style>
    <h1>Region</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ region.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ region.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img  src="{{ asset("assets/img/") }}{{region.photo}}" alt="" class="img"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_region_index') }}">back to list</a>

    <a href="{{ path('app_region_edit', {'id': region.id}) }}">edit</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
